<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enable_index</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="topbar">
        <img  class="logo" src="/images/logo.jpg" alt="Logo">
        <div><h1 style="color: aliceblue;">&nbsp;ENABLE</h1></div>
        
    </div>  

    <div class="main">
        <div class="vision">
           <h1><strong>CONNECTING EMPLOYEES,</strong>  </h1> 
           <h1><strong >PROVIDING SOLUTIONS.</strong></h1> 
           <p>We help employees to connect with support teams and find seamless solutions to their problems</p>   
    </div>
          <div class="container">
          <input type="checkbox" id="check">
          <div class="login form">
            <header>Login</header>
            <form action="#">
              <input type="text" placeholder="Enter your username">
              <input type="password" placeholder="Enter your password">
              <a href="#">Forgot password?</a>
              <input type="button" class="button" value="Login">
            </form>
            <div class="signup">
              <span class="signup">Don't have an account?
             <label for="check"><a href=Registration.html>Sign Up</a></label>
              </span>
      
    </div>
    </div>
</body>
</html>